

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>Servlet Learning Web Application</display-name>

  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>

  <!-- 不需要拦截(或检查)的 URL 列表 -->
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/login/a.jsp,/login/list.jsp,/login/login.jsp,/login/doLogin.jsp,/login/b.jsp</param-value>
  </context-param>

  <context-param>
    <param-name>language</param-name>
    <param-value>Java</param-value>
  </context-param>

  <!--b. filter的使用方法-->
  <filter>
    <filter-name>helloFilter</filter-name>
    <filter-class>com.sxl.b_filter.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>helloFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>


  <!--a.01 探究Servlet生命周期的Servlet-->

  <servlet>
    <servlet-name>lifeCycleServlet</servlet-name>
    <servlet-class>com.sxl.a_servlet.A01_LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>country</param-name>
      <param-value>China</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>18</param-value>
    </init-param>

  </servlet>
  <servlet-mapping>
    <servlet-name>lifeCycleServlet</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>


  <!--a.02 探究Http请求中的GET 和 POST方法的异同-->
  <servlet>
    <servlet-name>httpMethodServlet</servlet-name>
    <servlet-class>com.sxl.a_servlet.A02_HttpMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpMethodServlet</servlet-name>
    <url-pattern>/httpMethod</url-pattern>
  </servlet-mapping>

  <!--a.03 探究HttpServlet类的用法-->
  <servlet>
    <servlet-name>demoHttpServlet</servlet-name>
    <servlet-class>com.sxl.a_servlet.A03_DemoHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoHttpServlet</servlet-name>
    <url-pattern>/httpServlet</url-pattern>
  </servlet-mapping>

  <!--e. 探究请求转发与重定向的区别-->
  <servlet>
    <servlet-name>forwardServlet</servlet-name>
    <servlet-class>com.sxl.e_forwardRedirect.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardServlet</servlet-name>
    <url-pattern>/forwardServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>com.sxl.e_forwardRedirect.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.sxl.e_forwardRedirect.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
</web-app>
